{:kotoba.app/id "cloud.itonami.isic-942", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicbnrly27qyzgiv4czmmbvivajsykrtmkvnn22wg2zxuammp7a4zq", :kotoba.app/embed-url "ipfs://bafkreicbnrly27qyzgiv4czmmbvivajsykrtmkvnn22wg2zxuammp7a4zq", :published {:archive "https://kotobase.net/ipfs/bafkreicbnrly27qyzgiv4czmmbvivajsykrtmkvnn22wg2zxuammp7a4zq", :size 71886, :put-status 201, :get-status 200, :at "2026-08-15T13:33:40.435Z"}}
